---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import {
  getLangFromUrl,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const planObj = t("compareprice.plans");
const plans = Array.isArray(planObj)
  ? planObj // If already an array, just use it
  : Object.values(planObj);

const featureKeys = Object.keys(plans[0].features);
const teamMemberFeatureKeys = Object.keys(
  plans[0].features["For Team Members"]
);
const projectManagerFeatureKeys = Object.keys(
  plans[0].features["For Project Managers"]
);
const adminFeatureKeys = Object.keys(
  plans[0].features["For Administrators"]
);
---

<Container>
  <div class="mt-16">
    <h3 class="text-xl lg:text-3xl font-bold lg:tracking-tight">
      {t("compareprice.heading1")}
    </h3>
    <p class="mt-1 text-slate-600">
      {t("compareprice.p1")}
    </p>
  </div>

  {/* Desktop Version */}
  <div class="overflow-x-auto">
    <table class="min-w-full border-collapse mt-8">
      <thead>
        <tr>
          <th class="border p-4 w-1/4"></th>
          {
            plans.map((plan) => (
              <th class="border p-2 sm:p-4 bg-gray-100 w-1/4">
                <div class="text-xl sm:text-2xl font-bold mb-2">
                  {plan.name}
                </div>
                <div class="text-lg sm:text-xl font-semibold mb-2">
                  {plan.price}{" "}
                  <span class="text-sm font-normal">{plan.period}</span>
                </div>
                {/* Desktop */}
                <Link
                  size="md"
                  href="https://app.worklenz.com/auth/signup"
                  class="bg-blue-500 text-white py-2 sm:px-4 sm:mx-10 rounded hover:bg-blue-700 hidden sm:block">
                  {plan.cta}
                </Link>
                {/* Mobile */}
                <Link
                  size="xs"
                  href="https://app.worklenz.com/auth/signup"
                  class="bg-blue-500 text-white rounded hover:bg-blue-700 sm:hidden">
                  {plan.cta}
                </Link>
              </th>
            ))
          }
        </tr>
      </thead>
      <tbody>
        {
          featureKeys
            .filter(
              (key) =>
                key !== "For Team Members" && key !== "For Project Managers" && key !== "For Administrators"
            )
            .map((feature, index) => (
              <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
                <td class="border p-4 font-medium">{feature}</td>
                {plans.map((plan) => (
                  <td class="border p-4">{plan.features[feature]}</td>
                ))}
              </tr>
            ))
        }
        <tr>
          <td
            class="border p-4 font-medium bg-gray-200"
            colspan={plans.length + 1}>{t("compareprice.td1")}</td
          >
        </tr>
        {
          teamMemberFeatureKeys.map((feature, index) => (
            <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
              <td class="border p-4 font-medium text-sm">
                {plans[0].features["For Team Members"][feature].title}
                <br />
                <span class="text-xs text-gray-600">
                  {plans[0].features["For Team Members"][feature].description}
                </span>
              </td>
              {plans.map((plan) => (
                <td class="border p-4 text-center">
                  {plan.features["For Team Members"][feature].available ? (
                    <Icon
                      name="ph:check-circle"
                      class="text-blue-600 w-4 h-4"
                    />
                  ) : (
                    <Icon name="ph:x-circle" class="red-blue-600 w-4 h-4" />
                  )}
                </td>
              ))}
            </tr>
          ))
        }
        <tr>
          <td
            class="border p-4 font-medium bg-gray-200"
            colspan={plans.length + 1}>{t("compareprice.td2")}</td
          >
        </tr>
        {
          projectManagerFeatureKeys.map((feature, index) => (
            <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
              <td class="border p-4 font-medium text-sm">
                {plans[0].features["For Project Managers"][feature]
                      .title}
                <br />
                <span class="text-xs text-gray-600">
                  {
                    plans[0].features["For Project Managers"][feature]
                      .description
                  }
                </span>
              </td>
              {plans.map((plan) => (
                <td class="border p-4 text-center">
                  {plan.features["For Project Managers"][feature].available ? (
                    <Icon
                      name="ph:check-circle"
                      class="text-blue-600 w-4 h-4"
                    />
                  ) : (
                    <Icon name="ph:x-circle" class="text-red-600 w-4 h-4" />
                  )}
                </td>
              ))}
            </tr>
          ))
        }
         <tr>
          <td
            class="border p-4 font-medium bg-gray-200"
            colspan={plans.length + 1}>{t("compareprice.td3")}</td
          >
        </tr>
        {
          adminFeatureKeys.map((feature, index) => (
            <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
              <td class="border p-4 font-medium text-sm">
                {plans[0].features["For Administrators"][feature]
                      .title}
                <br />
                <span class="text-xs text-gray-600">
                  {
                    plans[0].features["For Administrators"][feature]
                      .description
                  }
                </span>
              </td>
              {plans.map((plan) => (
                <td class="border p-4 text-center">
                  {plan.features["For Administrators"][feature].available ? (
                    <Icon
                      name="ph:check-circle"
                      class="text-blue-600 w-4 h-4"
                    />
                  ) : (
                    <Icon name="ph:x-circle" class="text-red-600 w-4 h-4" />
                  )}
                </td>
              ))}
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Container>
