---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

const plans = [
  {
    name: "Free",
    price: "Free",
    period: "/month/user",
    cta: "Try now",
    features: {
      Teams: "1",
      Storage: "5GB",
      "Active Projects": "3",
      "Team Members": "5",
      "For Team Members": {
        "Task List": {
          available: true,
          description:
            "All project tasks are displayed in a list format, allowing you to filter and sort them as desired.",
        },
        "Kanban Board": {
          available: true,
          description:
            "Kanban board visually organizes all project tasks in a workflow.",
        },
        Subtasking: {
          available: true,
          description: "You can break down a large task into smaller subtasks.",
        },
        "Personal Task View": {
          available: true,
          description:
            "Personal task view displays all the tasks that are assigned to you, including ongoing, upcoming, and overdue tasks.",
        },
        "Personal Calendar View": {
          available: true,
          description:
            "You can view all the tasks assigned to you on a personal calendar.",
        },
        "Personal To-Do List": {
          available: true,
          description:
            "Maintain a separate To-Do list for personal or minor tasks not directly related to projects.",
        },
        "Daily Digest": {
          available: true,
          description:
            "Every evening, you will receive a summary of recent tasks.",
        },
        "Keep Notes on Tasks": {
          available: true,
          description:
            "Each task has a dedicated section for keeping relevant notes.",
        },
        "Comments on Tasks": {
          available: true,
          description:
            "For each task, there is a dedicated comment section where you can tag team members.",
        },
        "Attach Documents to Tasks": {
          available: true,
          description: "You can attach all relevant documents to the task.",
        },
        "When Done Notification": {
          available: true,
          description:
            "Specify individuals who should be notified upon task completion.",
        },
        "Time Log": {
          available: true,
          description:
            "You can log the time taken for each task manually or by using a timer.",
        },
      },
      "For Project Managers": {
        "Project Roadmap": {
          available: true,
          description:
            "Roadmap is similar to a Gantt chart; it enables you to visualize all your project tasks on a timeline.",
        },
        "Project Updates": {
          available: true,
          description:
            "Project Updates is a section for keeping project updates in a chat format. You can also mention team members here.",
        },
        "Project Files": {
          available: true,
          description:
            "In this section, you can access all the files that your team members have attached to the respective tasks.",
        },
        "Project Insights": {
          available: true,
          description:
            "You can view detailed information and analysis about the project.",
        },
        Workload: {
          available: true,
          description:
            "You can view the workload of project members as a timeline here.",
        },
        "Create Project Phases": {
          available: true,
          description:
            "You can create multiple phases in your project and organize tasks within each phase.",
        },
        "Subscribe to Projects": {
          available: true,
          description: "Receive a project summary in your email every evening.",
        },
        "In-built Project Templates": {
          available: true,
          description:
            "Create projects using our built-in project template library.",
        },
        "Save Project Templates": {
          available: true,
          description: "Save projects as templates for future use.",
        },
        "Activity Log on Tasks": {
          available: true,
          description: "Monitor the activities done by members on the task.",
        },
        "Add Labels to Tasks": {
          available: true,
          description:
            "Add custom labels to tasks and filter them accordingly.",
        },
        "Archive Tasks": {
          available: true,
          description: "Hide tasks that should not appear in your task list.",
        },
        "Set Task Priorities": {
          available: true,
          description:
            "You can set task priorities as high, medium, or low and then filter or group them accordingly.",
        },
      },
      "For Administrators": {
        "Assign Project Managers to Projects": {
          available: true,
          description:
            "Assign project managers to have control over the project.",
        },
        "Categorize Projects": {
          available: true,
          description:
            "Add categories to the project and then filter them accordingly.",
        },
        "Set Project Health": {
          available: true,
          description:
            "Set your project health as good, at risk, or needing attention and then filter accordingly.",
        },
        "Archive Projects": {
          available: true,
          description:
            "You can archive projects, as it affects all team members.",
        },
        Scheduler: {
          available: false,
          description:
            "View all projects and members' workload on a single timeline.",
        },
        "Advanced Project Reporting": {
          available: false,
          description:
            "Monitor all project-related information in one place and export it to an Excel sheet.",
        },
        "Advanced Time Reporting": {
          available: false,
          description:
            "Analyze the time taken by projects and team members, and compare estimated vs actual time.",
        },
        "Track Team Members' Progress": {
          available: false,
          description:
            "Monitor your team members' details in one place to track their progress.",
        },
        "Deactivate Team Members": {
          available: true,
          description:
            "Deactivate members if they leave your organization or your team.",
        },
      },
    },
  },
  {
    name: "Pro",
    price: "$5.99",
    period: "/month/user",
    cta: "Try now",
    features: {
      Teams: "Unlimited",
      Storage: "25GB",
      "Active Projects": "Unlimited",
      "Team Members": "Unlimited",
      "For Team Members": {
        "Task List": {
          available: true,
          description:
            "All project tasks are displayed in a list format, allowing you to filter and sort them as desired.",
        },
        "Kanban Board": {
          available: true,
          description:
            "Kanban board visually organizes all project tasks in a workflow.",
        },
        Subtasking: {
          available: true,
          description: "You can break down a large task into smaller subtasks.",
        },
        "Personal Task View": {
          available: true,
          description:
            "Personal task view displays all the tasks that are assigned to you, including ongoing, upcoming, and overdue tasks.",
        },
        "Personal Calendar View": {
          available: true,
          description:
            "You can view all the tasks assigned to you on a personal calendar.",
        },
        "Personal To-Do List": {
          available: true,
          description:
            "Maintain a separate To-Do list for personal or minor tasks not directly related to projects.",
        },
        "Daily Digest": {
          available: true,
          description:
            "Every evening, you will receive a summary of recent tasks.",
        },
        "Keep Notes on Tasks": {
          available: true,
          description:
            "Each task has a dedicated section for keeping relevant notes.",
        },
        "Comments on Tasks": {
          available: true,
          description:
            "For each task, there is a dedicated comment section where you can tag team members.",
        },
        "Attach Documents to Tasks": {
          available: true,
          description: "You can attach all relevant documents to the task.",
        },
        "When Done Notification": {
          available: true,
          description:
            "Specify individuals who should be notified upon task completion.",
        },
        "Time Log": {
          available: true,
          description:
            "You can log the time taken for each task manually or by using a timer.",
        },
      },
      "For Project Managers": {
        "Project Roadmap": {
          available: true,
          description:
            "Roadmap is similar to a Gantt chart; it enables you to visualize all your project tasks on a timeline.",
        },
        "Project Updates": {
          available: true,
          description:
            "Project Updates is a section for keeping project updates in a chat format. You can also mention team members here.",
        },
        "Project Files": {
          available: true,
          description:
            "In this section, you can access all the files that your team members have attached to the respective tasks.",
        },
        "Project Insights": {
          available: true,
          description:
            "You can view detailed information and analysis about the project.",
        },
        Workload: {
          available: true,
          description:
            "You can view the workload of project members as a timeline here.",
        },
        "Create Project Phases": {
          available: true,
          description:
            "You can create multiple phases in your project and organize tasks within each phase.",
        },
        "Subscribe to Projects": {
          available: true,
          description: "Receive a project summary in your email every evening.",
        },
        "In-built Project Templates": {
          available: true,
          description:
            "Create projects using our built-in project template library.",
        },
        "Save Project Templates": {
          available: true,
          description: "Save projects as templates for future use.",
        },
        "Activity Log on Tasks": {
          available: true,
          description: "Monitor the activities done by members on the task.",
        },
        "Add Labels to Tasks": {
          available: true,
          description:
            "Add custom labels to tasks and filter them accordingly.",
        },
        "Archive Tasks": {
          available: true,
          description: "Hide tasks that should not appear in your task list.",
        },
        "Set Task Priorities": {
          available: true,
          description:
            "You can set task priorities as high, medium, or low and then filter or group them accordingly.",
        },
      },
      "For Administrators": {
        "Assign Project Managers to Projects": {
          available: true,
          description:
            "Assign project managers to have control over the project.",
        },
        "Categorize Projects": {
          available: true,
          description:
            "Add categories to the project and then filter them accordingly.",
        },
        "Set Project Health": {
          available: true,
          description:
            "Set your project health as good, at risk, or needing attention and then filter accordingly.",
        },
        "Archive Projects": {
          available: true,
          description:
            "You can archive projects, as it affects all team members.",
        },
        Scheduler: {
          available: true,
          description:
            "View all projects and members' workload on a single timeline.",
        },
        "Advanced Project Reporting": {
          available: true,
          description:
            "Monitor all project-related information in one place and export it to an Excel sheet.",
        },
        "Advanced Time Reporting": {
          available: true,
          description:
            "Analyze the time taken by projects and team members, and compare estimated vs actual time.",
        },
        "Track Team Members' Progress": {
          available: true,
          description:
            "Monitor your team members' details in one place to track their progress.",
        },
        "Deactivate Team Members": {
          available: true,
          description:
            "Deactivate members if they leave your organization or your team.",
        },
      },
    },
  },
];

const featureKeys = Object.keys(plans[0].features);
const teamMemberFeatureKeys = Object.keys(
  plans[0].features["For Team Members"]
);
const projectManagerFeatureKeys = Object.keys(
  plans[0].features["For Project Managers"]
);
const adminFeatureKeys = Object.keys(
  plans[0].features["For Administrators"]
);
---

<Container>
  <div class="mt-16">
    <h3 class="text-xl lg:text-3xl font-bold lg:tracking-tight">
      Compare Plans
    </h3>
    <p class="mt-1 text-slate-600">
      Use the table below to compare full features of this product.
    </p>
  </div>

  {/* Desktop Version */}
  <div class="overflow-x-auto">
    <table class="min-w-full border-collapse mt-8">
      <thead>
        <tr>
          <th class="border p-4 w-1/4"></th>
          {
            plans.map((plan) => (
              <th class="border p-2 sm:p-4 bg-gray-100 w-1/4">
                <div class="text-xl sm:text-2xl font-bold mb-2">
                  {plan.name}
                </div>
                <div class="text-lg sm:text-xl font-semibold mb-2">
                  {plan.price}{" "}
                  <span class="text-sm font-normal">{plan.period}</span>
                </div>
                {/* Desktop */}
                <Link
                  size="md"
                  href="#"
                  class="bg-blue-500 text-white py-2 sm:px-4 sm:mx-10 rounded hover:bg-blue-700 hidden sm:block">
                  {plan.cta}
                </Link>
                {/* Mobile */}
                <Link
                  size="xs"
                  href="#"
                  class="bg-blue-500 text-white rounded hover:bg-blue-700 sm:hidden">
                  {plan.cta}
                </Link>
              </th>
            ))
          }
        </tr>
      </thead>
      <tbody>
        {
          featureKeys
            .filter(
              (key) =>
                key !== "For Team Members" && key !== "For Project Managers" && key !== "For Administrators"
            )
            .map((feature, index) => (
              <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
                <td class="border p-4 font-medium">{feature}</td>
                {plans.map((plan) => (
                  <td class="border p-4">{plan.features[feature]}</td>
                ))}
              </tr>
            ))
        }
        <tr>
          <td
            class="border p-4 font-medium bg-gray-200"
            colspan={plans.length + 1}>For Team Members</td
          >
        </tr>
        {
          teamMemberFeatureKeys.map((feature, index) => (
            <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
              <td class="border p-4 font-medium text-sm">
                {feature}
                <br />
                <span class="text-xs text-gray-600">
                  {plans[0].features["For Team Members"][feature].description}
                </span>
              </td>
              {plans.map((plan) => (
                <td class="border p-4 text-center">
                  {plan.features["For Team Members"][feature].available ? (
                    <Icon
                      name="ph:check-circle"
                      class="text-blue-600 w-4 h-4"
                    />
                  ) : (
                    <Icon name="ph:x-circle" class="red-blue-600 w-4 h-4" />
                  )}
                </td>
              ))}
            </tr>
          ))
        }
        <tr>
          <td
            class="border p-4 font-medium bg-gray-200"
            colspan={plans.length + 1}>For Project Managers</td
          >
        </tr>
        {
          projectManagerFeatureKeys.map((feature, index) => (
            <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
              <td class="border p-4 font-medium text-sm">
                {feature}
                <br />
                <span class="text-xs text-gray-600">
                  {
                    plans[0].features["For Project Managers"][feature]
                      .description
                  }
                </span>
              </td>
              {plans.map((plan) => (
                <td class="border p-4 text-center">
                  {plan.features["For Project Managers"][feature].available ? (
                    <Icon
                      name="ph:check-circle"
                      class="text-blue-600 w-4 h-4"
                    />
                  ) : (
                    <Icon name="ph:x-circle" class="text-red-600 w-4 h-4" />
                  )}
                </td>
              ))}
            </tr>
          ))
        }
         <tr>
          <td
            class="border p-4 font-medium bg-gray-200"
            colspan={plans.length + 1}>For Administrators</td
          >
        </tr>
        {
          adminFeatureKeys.map((feature, index) => (
            <tr class={index % 2 === 0 ? "bg-gray-50" : ""}>
              <td class="border p-4 font-medium text-sm">
                {feature}
                <br />
                <span class="text-xs text-gray-600">
                  {
                    plans[0].features["For Administrators"][feature]
                      .description
                  }
                </span>
              </td>
              {plans.map((plan) => (
                <td class="border p-4 text-center">
                  {plan.features["For Administrators"][feature].available ? (
                    <Icon
                      name="ph:check-circle"
                      class="text-blue-600 w-4 h-4"
                    />
                  ) : (
                    <Icon name="ph:x-circle" class="text-red-600 w-4 h-4" />
                  )}
                </td>
              ))}
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Container>
