---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "@assets/integrations.png";
import FeatureImgEight from "@assets/features/8.svg";
import FeatureImgNine from "@assets/features/9.webp";
import FeatureImgTen from "@assets/features/10.svg";
import FeatureImgEleven from "@assets/features/11.webp";

import {
  getLangFromUrl,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("feature-grid.heading1")} <span class="text-blue-600"
      >{t("feature-grid.headingSpan1")}</span
    >
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    {t("feature-grid.p1")}
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="blue">
    <Fragment slot="image">
      <Picture
        src={FeatureImgEight}
        alt={t("feature-grid.fragmentPictureAlt1")}
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="eager"
      />
    </Fragment>
    <!-- <span slot="badge">Astroship</span> -->
    <span slot="title">{t("feature-grid.fragmentTitle1")}</span>
    <span slot="desc">
        {t("feature-grid.fragmentDesc1")}
    </span>
  </Card>
  <Card class="lg:col-span-2" color="blue">
    <Fragment slot="image">
      <Picture
        src={FeatureImgNine}
        alt={t("feature-grid.fragmentPictureAlt2")}
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="eager"
      />
    </Fragment>
    <!-- <span slot="badge">Creative</span> -->
    <span slot="title">{t("feature-grid.fragmentTitle2")}</span>
    <span slot="desc">
        {t("feature-grid.fragmentDesc2")}
    </span>
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="blue" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTen}
        alt={t("feature-grid.fragmentPictureAlt3")}
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="eager"
      />
    </Fragment>
    <!-- <span slot="badge">Template</span> -->
    <span slot="title">{t("feature-grid.fragmentTitle3")}</span>
    <span slot="desc">
        {t("feature-grid.fragmentDesc3")}
    </span>
  </Card>

  <Card color="blue" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgEleven}
        alt={t("feature-grid.fragmentPictureAlt4")}
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="eager"
      />
    </Fragment>
    <!-- <span slot="badge">Product</span> -->
    <span slot="title">{t("feature-grid.fragmentTitle4")}</span>
    <span slot="desc">
        {t("feature-grid.fragmentDesc4")}
    </span>
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={IntegrationImg}
        alt={t("feature-grid.fragmentPictureAlt5")}
        width="909"
        height="823"
        class="h-full w-full object-contain"
        loading="eager"
      />
    </Fragment>
    <!-- <span slot="badge">Webhooks</span> -->
    <span slot="title">{t("feature-grid.fragmentTitle5")}</span>
    <span slot="desc"> {t("feature-grid.fragmentDesc5")}</span>
  </Card>
</div>
