---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import Logo from "@assets/logo.svg";

const { margin } = Astro.props;

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath 
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const footerObject = t("footer.footermenu");
const footermenu = JSON.stringify(footerObject)
  ? footerObject // If already an array, just use it
  : Object.values(footerObject);
---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href={translatePath("/")} class="text-lg flex items-center">
          <Picture src={Logo} alt="Logo" loading="lazy" width={120} />
        </a>
        <p class="mt-4 text-sm text-slate-700 max-w-xs">
          {t("footer.p1")}
        </p>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href="https://twitter.com/WorklenzHQ"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-twitter" class="w-4 h-4" />
            <span class="sr-only">Twitter or X</span></a
          >
          <a
            href="https://www.facebook.com/Worklenz/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-facebook-circle" class="w-4 h-4" /><span
              class="sr-only">Facebook</span
            ></a
          >
          <a
            href="https://lk.linkedin.com/showcase/worklenz/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >
          <a
            href="https://github.com/Worklenz/worklenz"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-github" class="w-4 h-4" /><span class="sr-only"
              >Linkedin</span
            ></a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">{t("footer.heading1")}</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.company.map((item) => (
              <a
                href={translatePath(item.path) || "#"}
                class="py-2 text-sm text-slate-600 hover:text-blue-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">{t("footer.heading2")}</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.product.map((item) => (
              <a
                href={translatePath(item.path) || "#"}
                class="py-2 text-sm text-slate-600 hover:text-blue-600"
                target="_blank">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">{t("footer.heading3")}</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.resources.map((item) => (
              <a
                href={translatePath(item.path) || "#"}
                class="py-2 text-sm text-slate-600 hover:text-blue-600"
                target={item.target}>
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        {t("footer.p2.p1")} {new Date().getFullYear()} {t("footer.p2.p2")}
      </p>
      <p class="text-center text-xs text-slate-600 mt-2">
        <a href={translatePath("/terms")} class="hover:text-blue-500"> {t("footer.a.text1")}</a> ・ <a
          href={translatePath("/privacy")}
          class="hover:text-blue-500">
          {t("footer.a.text2")}</a>
      </p>
    </Container>
  </div>
</footer>
