---
import { Picture } from "astro:assets";
import Nanosoft from "@assets/patners/nanosoft.png";
import GUI from "@assets/patners/gui.png";
import Kainovation from "@assets/patners/kainovation.png";
import Incrementl from "@assets/patners/incrementl.png";
import Paymedia from "@assets/patners/paymedia-1.png";
import Softcricket from "@assets/patners/softcricket.png";
import FoundersNetwork from "@assets/patners/Logo-LFN-High-Resolution.png";
import Link from "./ui/link.astro";
---

<div>
  <h2 class="text-center text-slate-500">Trusted by</h2>
  <div
    class="flex gap-x-8 gap-y-4 md:gap-10 lg:gap-20 items-center justify-center mt-6 flex-wrap">
    <div>
      <a href="https://nanosoft.lk/" target="_blank">
        <Picture src={Nanosoft} alt="Nanosoft" loading="eager" width={120} />
      </a>
    </div>

    <div>
      <a href="https://guisrilanka.com/" target="_blank">
        <Picture src={GUI} alt="gui" loading="eager" width={80} height={80} />
      </a>
    </div>
    <div>
      <a href="https://kainovation.com/" target="_blank">
        <Picture src={Kainovation} alt="gui" loading="eager" width={80} />
      </a>
    </div>
    <div>
      <a href="https://incrementl.com/" target="_blank">
        <Picture src={Incrementl} alt="gui" loading="eager" width={120} />
      </a>
    </div>

    <div>
      <a href="https://www.paymedia.lk/" target="_blank">
        <Picture src={Paymedia} alt="gui" loading="eager" width={120} />
      </a>
    </div>

    <div>
      <a href="https://soffcricket.com/" target="_blank">
        <Picture src={Softcricket} alt="gui" loading="eager" width={120} />
      </a>
    </div>

    <div>
      <a href="https://linkxarfn.com/" target="_blank">
        <Picture src={FoundersNetwork} alt="gui" loading="eager" width={80} />
      </a>
    </div>
  </div>
</div>
